.App {
  text-align: center;
}

.search-bar {
  padding: 20px;
}
input {
  width: 400px;
  padding: 5px;
  border: 1px solid grey;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
